<div>
  <button routerLink="/main">Main</button>
  <button routerLink="/about">About</button>
  <button routerLink="/jsonp">JsonP</button>
  <button routerLink="/jsonp-common">JsonP common</button>
  <button routerLink="/browser-dom-adapter">Browser DOM adapter</button>
  <div>
    <a routerLink="javascript:alert(0)">This uses a different router module than button links</a>
  </div>
</div>
<div>
  <input type="text" #linkText (input)="changeLink($event.target.value)" />
  <button [routerLink]="unsafeLink">Xss</button>
</div>

<router-outlet></router-outlet>
